.tucked--back-slides {
  position: absolute;
  z-index: -1;
  width: 110vw;
  height: 120vh;
  background-color: rgb(36, 37, 39);
  //   display: grid;
  //   grid-template-rows: repeat(350px);
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.slide--row {
  position: relative;
  display: flex;
  height: 200px;
  justify-content: space-evenly;
  gap: 25px;

  transform: rotate(-10deg) translateY(-1vh);

  .slides {
    position: absolute;
    left: -350px;
    width: 300px;
    height: 100%;
    border: 3px dashed white;
    border-radius: 10px;
    animation: slideShowInBack 14s LINEAR infinite;
    // animation-delay: ;

    $delays: 0s, 2s, 4s, 6s, 8s, 10s, 12s;
    @for $i from 1 through length($delays) {
      &:nth-child(#{length($delays)}n + #{$i}) {
        animation-delay: nth($delays, $i);
      }
    }
  }

  &:nth-child(2n) {
    .slides {
      animation: slideShowInBackRev 14s linear infinite;
      $delays: 0s, 2s, 4s, 6s, 8s, 10s, 12s;
      @for $i from 1 through length($delays) {
        &:nth-child(#{length($delays)}n + #{$i}) {
          animation-delay: nth($delays, $i);
        }
      }
    }
  }
}

@keyframes slideShowInBack {
  0% {
    left: -350px;
  }
  100% {
    left: calc(100vw + 350px);
  }
}

@keyframes slideShowInBackRev {
  0% {
    left: calc(100vw + 350px);
  }
  100% {
    left: -350px;
  }
}
