@use "landing";
@use "navigation";
@use "form";
@use "root";
@use "slides";
@use "main";
@use "footer";

:root {
  --letter-sizing: 45px;
}
p {
  max-height: 100%;
}

.site--shell {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.business--card-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 85vh;
  flex-grow: 1;
  // border: 5px solid pink;
  // overflow: hidden;
  // overflow-y: hidden;

  .title--container {
    position: absolute;
    z-index: 90;
    top: calc(-1 * var(--letter-sizing) - 10px);
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.6s cubic-bezier(0.83, 0.08, 0.67, 1.14);
    &.slide--out-menu {
      left: -50vw;
      transition: all 0.6s cubic-bezier(0.83, 0.08, 0.67, 1.14);
    }

    // background-color: lime;
  }
  .title--letter {
    // border: 1px solid black;
    width: calc(3.5 * var(--letter-sizing));
    height: var(--letter-sizing);
    // margin-right: -10px;
    background-color: rgba(255, 255, 255, 0.818);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--letter-font);
    font-size: 270%;

    opacity: 0;
    // &.trans {
    //   opacity: 0;
    // }
    &.drop--in {
      transition: all 2s ease-out;
      transform: translateY(calc(20px + var(--letter-sizing)));
      opacity: 1;
    }
  }
}

.trans {
  opacity: 0;
}

@media all and (max-width: 1023px) and (orientation: portrait) {
  .site--shell {
    align-items: flex-start;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --letter-sizing: 35px;
  }

  .business--card-container {
    .title--container {
      .title--letter {
        &.drop--in {
          transform: translateY(0);
          font-size: 2rem;
        }
      }
    }
  }
}
